<div class="container">
  <div class="row" *ngIf="hostList">
    <div class="col s12 m7">
      <div class="card" *ngFor="let host of hostList" >
        <div class="card-content">
          <span>Host name: {{host.host}}</span>
          <br>
          <span>Host ID: {{host.hostid}}</span>
          <br>
          <div *ngFor="let interface of host.interfaces">
            <span>Interface ID: {{interface.interfaceid}} IP: {{interface.ip}} </span>
            <br>
          </div>
        </div>
        <div class="card-action">
          <a (click)=showItems(host.hostid)>Exibir itens</a>
        </div>
      </div>
    </div>
  </div>
</div>